{
    "openapi": "3.0.0",
    "info": {
        "title": "API documentation for Dihauti Residence",
        "description": "description",
        "contact": {
            "email": "dev.arven@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.dihauti.ru/api",
            "description": "API server"
        }
    ],
    "paths": {
        "/blogCategories": {
            "get": {
                "tags": [
                    "BlogCategory"
                ],
                "summary": "Get all blog categories",
                "description": "Returns all blog categories",
                "operationId": "getBlogCategoryList",
                "responses": {
                    "200": {
                        "description": "Blog's categories retrieved successfully"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "BlogCategory"
                ],
                "summary": "Create blog category in database",
                "operationId": "blogCategoryCreate",
                "responses": {
                    "201": {
                        "description": "Blog category created successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/blogCategories/{slug}": {
            "get": {
                "tags": [
                    "BlogCategory"
                ],
                "summary": "Get blog category by slug",
                "description": "Returns blog category by slug",
                "operationId": "getBlogCategoryBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Blog category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "BlogCategory"
                ],
                "summary": "Update blog category in database",
                "operationId": "blogCategoryUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Blog category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "BlogCategory"
                ],
                "summary": "Delete blog category in database",
                "operationId": "blogCategoryDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Blog category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Blog category deleted successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/posts/{blogPost}/comments": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Get all comment for post with pagination",
                "description": "Returns all comment for post with pagination",
                "operationId": "getCommentList",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comments for blog post retrieved successfully"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Create yet another comment for post in database",
                "operationId": "commentCreate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Comment store successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/posts/{blogPost}/comments/{id}": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Get comment for post by id",
                "description": "Returns comment for post by id",
                "operationId": "getCommentById",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Comment for post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comment for blog post retrieved successfully"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Comment"
                ],
                "summary": "Update comment for post in database",
                "operationId": "commentUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Comment for post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Comment updated successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comment"
                ],
                "summary": "Delete comment for post in database",
                "operationId": "commentDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Comment for post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Comment deleted successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Post"
                ],
                "summary": "Get all posts with pagination",
                "description": "Returns all posts with pagination",
                "operationId": "getPostsList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog posts retrieved successfully"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "Create yet another post in database",
                "operationId": "postCreate",
                "responses": {
                    "201": {
                        "description": "Blog post created successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/posts/{slug}": {
            "get": {
                "tags": [
                    "Post"
                ],
                "summary": "Get post by slug",
                "description": "Returns post by slug",
                "operationId": "getPostBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Post retrieved successfully"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Post"
                ],
                "summary": "Update post in database",
                "operationId": "postUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Post updated successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Post"
                ],
                "summary": "Delete post in database",
                "operationId": "postDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Post deleted successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/sortedPost": {
            "get": {
                "tags": [
                    "Post"
                ],
                "summary": "Get sorting posts",
                "description": "Returns sorting posts",
                "operationId": "getSortedBlogPostList",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/posts/{blogPost}/comments/{id}/like": {
            "post": {
                "tags": [
                    "Like"
                ],
                "summary": "Like comment for post",
                "operationId": "commentLike",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Comment for blog post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Liked this post successfully"
                    },
                    "202": {
                        "description": "Unliked this post successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/posts/{blogPost}/like": {
            "post": {
                "tags": [
                    "Like"
                ],
                "summary": "Like post",
                "operationId": "postLike",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Liked this post successfully"
                    },
                    "202": {
                        "description": "Unliked this post successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/forumCategories": {
            "get": {
                "tags": [
                    "ForumCategory"
                ],
                "summary": "Get all forum categories",
                "description": "Returns all forum categories",
                "operationId": "getForumCategoryList",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "ForumCategory"
                ],
                "summary": "Create forum category in database",
                "operationId": "forumCategoryCreate",
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/forumCategories/{slug}": {
            "get": {
                "tags": [
                    "ForumCategory"
                ],
                "summary": "Get forum category by slug",
                "description": "Returns forum category by slug",
                "operationId": "getForumCategoryBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Forum category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "ForumCategory"
                ],
                "summary": "Update forum category in database",
                "operationId": "forumCategoryUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Forum category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ForumCategory"
                ],
                "summary": "Delete forum category in database",
                "operationId": "forumCategoryDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Forum category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/questions": {
            "get": {
                "tags": [
                    "Question"
                ],
                "summary": "Get all questions with group by category",
                "description": "Returns all questions with group by category",
                "operationId": "getQuestionsList",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Question"
                ],
                "summary": "Create question in database",
                "operationId": "questionCreate",
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/questions/{slug}": {
            "get": {
                "tags": [
                    "Question"
                ],
                "summary": "Get question by slug",
                "description": "Returns question by slug",
                "operationId": "getQuestionBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Question"
                ],
                "summary": "Update question in database",
                "operationId": "questionUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Question"
                ],
                "summary": "Delete question in database",
                "operationId": "questionDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/forumCategories/{forumCategory}": {
            "get": {
                "tags": [
                    "Question"
                ],
                "summary": "Get questions with category",
                "description": "Returns questions with category",
                "operationId": "getQuestionsListWithCategory",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Forum category slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/questions/{forumQuestion}/replies": {
            "get": {
                "tags": [
                    "Reply"
                ],
                "summary": "Get all reply for question with pagination",
                "description": "Returns all reply for questio with pagination",
                "operationId": "getRepliesList",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Reply"
                ],
                "summary": "Create reply for question in database",
                "operationId": "replyCreate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/questions/{forumQuestion}/replies/{id}": {
            "get": {
                "tags": [
                    "Reply"
                ],
                "summary": "Get reply for post by id",
                "description": "Returns reply for post by id",
                "operationId": "getReplyById",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Reply for question id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Reply"
                ],
                "summary": "Update reply for question in database",
                "operationId": "replyUpdate",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Reply for post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reply"
                ],
                "summary": "Delete reply for question in database",
                "operationId": "replyDelete",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Reply for post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/questions/{forumQuestion}/like": {
            "post": {
                "tags": [
                    "Like"
                ],
                "summary": "Like question",
                "operationId": "questionLike",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Liked this question successfully"
                    },
                    "202": {
                        "description": "Unliked this question successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/questions/{forumQuestion}/replies/{id}/like": {
            "post": {
                "tags": [
                    "Like"
                ],
                "summary": "Like reply for question",
                "operationId": "replyLike",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Question slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Reply for question post id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Liked this post successfully"
                    },
                    "202": {
                        "description": "Unliked this post successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/contacts": {
            "get": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Get contact list",
                "description": "Returns contact list",
                "operationId": "getContactList",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/messages": {
            "get": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Get all current dialog",
                "description": "Returns all current dialog",
                "operationId": "getCurrentDialog",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/messages/{dialog}": {
            "get": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Get messages in dialog",
                "description": "Get messages in dialog",
                "operationId": "getMessagesInDialog",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Dialog slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/dialog/{dialog}": {
            "get": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Get dialog",
                "description": "Get dialog",
                "operationId": "getDialog",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Dialog slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/messages/{dialog}/send": {
            "post": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Create message in database",
                "operationId": "sendNewMessage",
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/startDialog": {
            "post": {
                "tags": [
                    "Messenger"
                ],
                "summary": "Create gialog in database",
                "operationId": "startDialog",
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "app_id": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get all users",
                "description": "Returns all users",
                "operationId": "getUsersList",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/users/{user}": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get user",
                "description": "Returns user",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "User slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/users/update": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update your profile",
                "description": "Update personal info in your profile",
                "operationId": "updateProfile",
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/users/delete": {
            "delete": {
                "tags": [
                    "Profile"
                ],
                "summary": "Delete your profile",
                "description": "Delete your profile",
                "operationId": "deleteProfile",
                "responses": {
                    "204": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/users/passwordUpdate": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Password update your profile",
                "description": "Password update your profile",
                "operationId": "passwordUpdateProfile",
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/users/loginUpdate": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Login update your profile",
                "description": "Login update your profile",
                "operationId": "loginUpdateProfile",
                "responses": {
                    "202": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Password Based": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header",
                "flows": {
                    "password": {
                        "authorizationUrl": "/login",
                        "refreshUrl": "/logout",
                        "scopes": []
                    }
                },
                "scheme": "https"
            }
        }
    }
}